@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: rgb(232, 226, 220);
    width: 100%;
    height: 100%;
}

div {
    color: rgb(132, 31, 31);
    font-size: x-large;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
}
